.ColorList {
  text-align: center;
 background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet);
}

h1 {
  font-size: 1.5em;
}

h3 {
  color: white
}

ul {
  list-style: none;
  padding: 0;
}
